<!-- your html code here -->
<p>Hello, I'm contact.html Lisandro</p>
<div class="container">
    <h3>Contact</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, placeat provident quaerat officia sunt quam
        quidem mollitia ducimus corrupti quos neque iusto accusamus fugiat pariatur praesentium dolor veritatis
        similique dicta.</p>
    <div class="container">
        <div class="row col-10">
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label"><b>Your Email</b></label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your Email">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label"><b>Your message</b></label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                        placeholder="Please enter your message here..."></textarea>
                </div>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3 position bottom-0 end-0">Submit</button>
            </div>
        </div>
    </div>
</div>