<!-- your html code here -->
<div class="container d-flex align-items-center bg-light p-4">
<div class="row align-items-center gy-5">
    <div class="col-md-3 d-flex justify-content-center">
        <div class="ratio ratio-1x1 rounded-circle overflow-hidden" style="max-width: 25rem;">
            <img src="https://preview.redd.it/beerus-vs-goku-wallpaper-v0-p4zvqv3ppkb21.png?auto=webp&s=555af8032c4fd6c1ac2bedcc3d31e5f3303b2a4c" class="object-fit-cover"  />
        </div>
    </div>
    <div class="col-md-9">
        <h2>This First Heading <span class="text-secondary"> Will Catch Your Eye</span></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit perferendis doloremque quod repellat iure illo
        accusantium corporis enim nemo totam! Molestias alias sequi adipisci. Debitis similique nisi eum quia! Consequatur.</p>
    </div>
</div>
</div>